.card{  
    font-size: $default-font-size;
    width: calc(100/4) *1rem;
    margin-bottom: $gutter-horizontal;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    

    &-title{
        font-size: $default-font-size * 1.2;
        font-weight: 700;
        
    }

    &:hover{
        background-color: $color-light-purple;
        color:#adf7d1 ;
    }
}

.recipe-section{
    background-color:$color-grey-light-1;
    padding: 2rem 5rem;


    &-search{
        display: flex;
        .form-control{
            font-size: $default-font-size;
            padding: 1.5rem;
            margin-bottom: 2rem;
            width: 80%;
            margin-right: 2rem;
            height: 10vh;
            
         }
         .btn{
           display: inline-block;
            font-size: $default-font-size;
            width:18%;
            height: 10vh;
         }
    }
    

}



.main-recipe-card{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $color-white;

    &-left{
        flex-basis: 30%;
        margin-right:$gutter-vertical ;
        padding: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &-right{
        flex-basis: 60%;
        font-size: $default-font-size;
        padding: 2rem;

        h3{
            font-size: $default-font-size *1.4;
            text-decoration: underline;
        }
    }
}

.recipe-card-section{
    display: flex;
    flex-wrap: wrap;

}

.recipe-card-individual{
    flex-basis: 25%;
    &:hover{
        transform: scale(1.1);
    }
   
}

.toggle-btn-section{
    display: flex;
    justify-content: flex-end;
    .btn{
        font-size: $default-font-size;
        :first-child{
            border-right: 2px solid grey;
        }
    }
    
}